.dashboard {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 100%;
}

.list {
    width: 300px;
    background: #eeeeee;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    border: 1px solid;
}

.add-list {
    display: flex;
    text-align: left;
    height: 30px;
    align-items: center;
}

.add-list > i {
    font-size: 25px;
    padding-left: 10px;
}

.add-list > span {
    padding-left: 10px;
}

.opened-add-list {
    background: #63a517;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 4px;
    margin: 10px;
}

.opened-add-list > input {
    margin: 10px;
    font-size: 14px;
    height: 20px;
}

.opened-add-list > input:focus {
    outline: none;
}

.opened-add-list > div > button {
    margin: 5px;
}

.close-add-list {
    background: none;
    color: red;
    border: none;
    border-radius: 4px;
    float: right;
}